{% extends "main/base.html" %}
{% load static %}

{% block title %}SkyNomad{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
{% endblock %}

{% block content %}

    <div class="slider-container">
        <div class="slider">
            <div class="slide active" style="background-image: url('../../static/img/Кел-Суу.JPG');">
                <div class="slide-text">Откройте для себя новые горизонты</div>
            </div>
            <div class="slide" style="background-image: url('../../static/img/bugu.JPG');">
                <div class="slide-text">Лучшие направления для отдыха</div>
            </div>
            <div class="slide" style="background-image: url('../../static/img/IK_XanTengry.JPG');">
                <div class="slide-text">Незабываемые впечатления ждут вас</div>
            </div>

            <img class="prev controlls" src="../../static/img/left.png" alt="">
            <img class="next controlls" src="../../static/img/right.png" alt="">
        </div>
    </div>


    <div class="text-tour-type">
        <h2>Типы тур</h2>
    </div>

    <section class="blog-section blog-page spad">
        <div class="container">
            <div class="row">
                {% for tour_type in tour_types %}
                    <div class="col-lg-4 col-md-6">
                        <a href="{% url 'tours:tours' type_id=tour_type.id %}" class="tour-card">
                            <div class="tour-card-image"
                                 style="background-image: url('{{ tour_type.type_img.url }}');">
                            </div>
                            <div class="tour-card-overlay">
                                <span class="tour-card-title">{{ tour_type.name }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

       <!-- Кнопка для открытия модального окна -->
       <button class="openModal">Напишите нам</button>

       <!-- Модальное окно -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Напишите нам</h2>
                <form id="contactForm">
                    {% csrf_token %}
                    <label for="name">Имя:</label>
                    <input type="text" id="name" name="name" required>
                    
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                    
                    <label for="message">Сообщение:</label>
                    <textarea id="message" name="message" required></textarea>
                    
                    <button type="submit">Отправить</button>
                </form>
                <p id="responseMessage"></p>
            </div>
        </div>


        <script type="text/javascript">
            const sendMessageUrl = "{% url 'main:send_message' %}";
        </script>
        
    
{% endblock %}